
.menu-container{
  color: #fff;
  background-color: #5995DA;
  display: flex;
  justify-content: center;
  padding: 20px ;
  width: 100%;

}
.nav{
  border: 1px solid #fff;
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;

}



.sky_line-container{
  display: flex;
  justify-content: center;

}



 .picture{
   width: 10000px;
   height: 300px;
   display: flex;


 }

 .picture > img{
   height: 295px;
   width: 1000px;
   border: solid red;
   display: block;
   margin: auto;

}



.Mission-container{
display: flex;
height: 180px;
background-color: #5995DA;
align-items: center;
}

.mission-p {
  padding-left: 15px;
  font-size: 19px;

}

#mission{
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
}

.classic_food_container{
  display: flex;
  height: 550px;
  width: 100%;
  justify-content: space-between;

}


.pizza p{
  line-height: 1.2em;
  overflow: scroll;

}


.hotdogs p{
  line-height: 1.4em;
  font-size: 10px;
}


 .pizza_pictures > img{


  height: 550px;
  width: 790px;


}
 .pizza{
   border: solid black;
   width: 610px;
   padding: 15px;
   background-color: #5995DA;
 }

 .pizza > p{
   padding-top: 15px;
   font-size: 20px;
 }

 .pizza > h3{
   padding-top: 15px;
 }

.hotdog_container{
  display: flex;
  background: #5995DA;

}
.hotdogs{
  flex: 2;
  padding: 10px;
}

.hotdogs > p{
  font-size: 19px;
  padding-top: 15px;
}

.hotdog_picture > img{
  width: 550px;
}

.hotdogs > h3{
  font-size: 22px;
}


.attractions_container{
  display: flex;

}

.attractions{
  flex: 1;
  justify-content: center;

}

.attractions  {
  text-align: center;
}

.iframe >iframe{
  width: 100%;
}


.attractions_table > table, .cost{
  text-align: center;
}

.attractions_table > table{
  height: 350px;

}

tr:nth-child(even) {  /* W3schools */
    background-color: #dddddd;
}


.form_container{
  display: flex;
}

.form{

}





body{
  background-color: white;
}

a:visited{
  color: white;
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: #ba1499;
}
