body{
  margin: 0px;
}




.menu-container{
  color: #fff;
  background-color: #5995DA;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  position:fixed;

/* menu container */
}
.nav{
  border: 1px solid #fff;
  background-color: #5995DA;
  width: 900px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  text-decoration: underline;


}

 #Chicago_hotdogs{
   font-family: "Courier New";
  font-size: 26px;
  /* changes font and size of heading  */
 }


.sky_line-container{
  display: flex;
  justify-content: center;
  padding-top: 95px;
}



 .picture{
   width: 10000px;
   height: 300px;
   display: flex;


 }

 .picture > img{
   height: 295px;
   width: 1000px;
   border: solid red;
   display: block;
   margin: auto;

}



.Mission-container{
display: flex;
height: 250px;
background-color: #5995DA;
align-items: center;

}

.mission-p {
  padding-left: 15px;
  font-size: 19px;

}

#mission{
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
  font-family: "Courier New"
  /* changes the font family, size, and alignment of Mission */
}

.classic_food_container{
  display: flex;
  height: 550px;
  width: 100%;
  justify-content: space-between;
  margin-top: 150px;
  border: solid #9A0808;
  border-width: 7px;
  font-size: 20px;

}

.pizza{
  overflow: scroll;
}





.hotdogs p{
  line-height: 1.4em;

}


 .pizza_pictures > img{


  height: 550px;
  width: 790px;


}
 .pizza{
   border: solid black;
   width: 610px;
   padding: 15px;
   background-color: #5995DA;
 }

 .pizza > p{
   padding-top: 15px;
   font-size: 20px;
 }

 .pizza > h3{
   padding-top: 15px;

 }

.hotdog_container{
  display: flex;
  background: #5995DA;
  margin-top: 150px;
  border: solid #9A0808;
  border-width: 7px;

}
.hotdogs{
  flex: 2;
  padding: 10px;
}

.hotdogs > p{
  font-size: 19px;
  padding-top: 15px;
  text-align: left;
}

.hotdog_picture > img{
  width: 550px;
}

 #chicago_Food{
  font-size: 26px;
  font-family: "Courier New"
}


.attractions_container{
  display: flex;
  margin-top: 150px;
  box-shadow: 10px 10px 15px 10px red;

}

.list > li{ /* these are the 4 changes done to the list */
    list-style-type: circle;
    padding: 5px;
    list-style-position: inside;
    font-size: 1.25em;
}

.attractions{
  flex: 1;
  justify-content: center;
  text-align: center;

}

.attractions_table{ /* these are the 4 changes to the table */
  flex: 1;
  width: 100%;
  position: center;
  /* 4th change is the one below it also has a comment */
}
.iframe >iframe{
  width: 100%;
  margin-top: 150px;

}


.attractions_table > table, .cost{
  text-align: center;
}

.attractions_table > table{
  height: 350px;

}

tr:nth-child(even) {  /* W3schools  it changes the table colors*/
    background-color: #dddddd;
}


.form_container{
  display: flex;

}

.form_heading{
  text-align: center;

}

.form_container{
  border-radius: 1px;
  border: solid #9A0808;
  justify-content: center;
  border-width: 5px;
}

.form_inputs > label{
  font-weight: bold;
}

.inputs{    /* changing inline inputs to block */
    display: block;
    margin-top: 12px;
}



/* the 4 changes for the form are centering the content, border with color, bolding words,graying the text boxes when focused, and adding padding to the margins */



body{
  background-color: white;
  /* makes the body white  */
}

a:visited{
  color: white;
  text-decoration: none;
  /* makes links visited white */
}

a:link{
  text-decoration: none;
  color: black;
  /* makes links black */
}

a:hover{
  text-decoration: underline;
  color: #ba1499;
  /* when user hovers over links it underlines and changes the color */
}

input:focus {

    background-color: gray;

}
